body.app-body.theme-mastodon-light {
  /* 背景画像 */
  --bg-image: url("https://kancolle.cloud/img/bglight.png");

  /* カラムヘッダー */
  --column-header-bg: rgb(255, 255, 255);

  /* カラム */
  --column-bg: rgba(255, 255, 255, 0.8);

  /* トレンドタグ背景色 */
  --trends-bg-for-advanced: rgba(255, 255, 255, 0.5);

  /* 表示するものがないカラム */
  --empty-column-bg: transparent;

  /* 投稿の詳細 */
  --detailed-status-bg: rgba(255, 255, 255, 0.5);

  /* ダイレクトメッセージ 未読?/デフォルト */
  --unread-direct-bg: rgba(224, 224, 224, 0.5);

  /* ダイレクトメッセージ 既読? */
  --direct-bg: rgba(240, 240, 240, 0.6);

  /* 投稿や通知の選択時 */
  --focus-highlight-bg: rgba(240, 240, 240, 0.6);

  /* アカウントの投稿フィルター */
  --account-section-headline-bg: rgba(218, 218, 218, 0.5);

  /* 通知フィルター */
  --notification-filter-bar-bg: rgba(218, 218, 218, 0.9);

  /* タブ */
  --tabs-bar-bg: rgba(255, 255, 255, 0.9);
  --tab-hover-highlight-bg: rgba(240, 240, 240, 0.8);

  /* 投稿フォームパネル */
  --advanced-compose-panel-bg: transparent;
  --compose-panel-bg: rgba(255, 255, 255, 0.8);

  /* シングルカラムのナビゲーション */
  --single-navigation-panel-bg: rgba(255, 255, 255, 0.8);

  /* Getting Started */
  --getting-started-bg: rgba(255, 255, 255, 0.8);
  --getting-started-parts-bg: transparent;
}
